<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="o.e.j.u.t.s.ExecuteProduceConsume" level="OFF" />
    <logger name="o.e.j.u.component.AbstractLifeCycle" level="OFF" />
    <logger name="o.e.j.util.thread.QueuedThreadPool" level="OFF" />
    <logger name="org.asteriskjava.manager.internal.EventBuilderImpl" level="OFF" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>