body {
    background: #fafafa;
    cellspacing: 0;
    cellpadding: 0;
}

.sidebar {
    width: 270px;
    border-right: 1px solid #e5e5e5;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

table {

}

th {
    text-align: left;
}

td, th {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    padding-left: 10px;
}

td:first-child, th:first-child {
    border-left: none;
}

.sidebar > paper-toolbar {
    background: #fff;
    color: #606060;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar paper-icon-button {
    margin-right: 10px;
}