doctype html
html
    head
        script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="import", href="bower_components/iron-flex-layout/classes/iron-flex-layout.html")
        link(rel="import", href="bower_components/paper-toolbar/paper-toolbar.html")
        link(rel="import", href="bower_components/paper-menu/paper-menu.html")
        link(rel="import", href="bower_components/paper-icon-button/paper-icon-button.html")
        link(rel="import", href="bower_components/paper-item/paper-item.html")
    body
        div.container.flex-horizontal
            div.sidebar
                paper-toolbar
                    paper-icon-button(src="images/phone.svg")
                    div.title openCSP
                paper-menu.flexchild(selected="0")
                    paper-item Status
                    paper-item Devices
                    paper-item Settings
            div.flexchild

